<article class="form-builder-field" data-field-type="<%= f.object.field_type.presence || "text" %>">
  <div class="form-builder-field-bar">
    <button type="button" class="form-builder-field-drag" title="Drag field">&#9699;</button>
    <strong class="form-builder-field-title"><%= f.object.label.presence || "New Field" %></strong>
    <div class="form-builder-field-actions">
      <button type="button" class="form-builder-toggle" data-action="click->form-builder#toggleSettings">Settings</button>
      <button type="button" class="form-builder-remove" data-action="click->form-builder#removeField">Remove</button>
    </div>
  </div>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :position, value: f.object.position || 0, class: "form-builder-position" %>
  <%= f.hidden_field :_destroy, value: 0 %>

  <div class="form-builder-field-preview">
    <div class="cms-grid-two">
      <div>
        <%= f.label :label %>
        <%= f.text_field :label, class: "form-builder-label-input", data: { action: "input->form-builder#labelChanged" } %>
      </div>
      <div>
        <%= f.label :field_type, "Field type" %>
        <%= f.select :field_type, FormField::FIELD_TYPES.map { |type| [type.humanize, type] }, {}, class: "cms-select", data: { action: "change->form-builder#fieldTypeChanged" } %>
      </div>
    </div>
  </div>

  <div class="form-builder-field-settings" hidden>
    <div class="cms-grid-two">
      <div>
        <%= f.label :identifier %>
        <%= f.text_field :identifier, placeholder: "first_name" %>
      </div>
      <div>
        <%= f.label :width %>
        <%= f.select :width, FormField::WIDTHS.map { |width| ["#{width}/12", width] }, {}, class: "cms-select" %>
      </div>
    </div>

    <div class="cms-grid-two">
      <div>
        <%= f.label :placeholder %>
        <%= f.text_field :placeholder %>
      </div>
      <div>
        <%= f.label :help_text %>
        <%= f.text_field :help_text %>
      </div>
    </div>

    <div>
      <label class="form-builder-checkbox-row">
        <%= f.check_box :required %>
        <span>Required field</span>
      </label>
    </div>

    <div>
      <%= f.label :options_text, "Options" %>
      <%= f.text_area :options_text, rows: 4, placeholder: "One option per line" %>
      <p class="cms-field-hint">Used for select, radio, and checkbox fields.</p>
    </div>
  </div>
</article>